<a href="{{ path('app_mood_confirm_delete', {'id': mood.id}) }}" class="btn btn-sm btn-delete" style="border: 1px solid #FBD5D5 !important; font-weight: 600;">
    <i class="fas fa-trash me-1"></i> Supprimer
</a>
